.makeGroupForm {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.makeGroupForm button {
  width: fit-content;
  color: black;
  margin-top: 0.2em;
}

.makeGroupForm li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
